In [5]:
import pandas as pd
import numpy as np
from numpy import loadtxt
from xgboost import XGBClassifier
from xgboost import plot_importance
from matplotlib import pyplot

In [4]:
all = pd.read_csv('data2/PatientInfo.csv')

In [7]:
all.head()

      sex  age     province confirmed_date
0  female   30      Incheon     2020-01-20
1    male   50        Seoul     2020-01-23
2    male   50  Gyeonggi-do     2020-01-26
3    male   50  Gyeonggi-do     2020-01-27
4    male   30        Seoul     2020-01-30

In [12]:
weather = pd.read_csv('data2/weather3.csv')

In [13]:
weather.head()

  province        date  avg_temp  avg_relative_humidity
0    Seoul  2020-01-20       0.7                   46.8
1    Busan  2020-01-20       5.1                   45.6
2    Daegu  2020-01-20       4.6                   44.1
3  Gwangju  2020-01-20       4.0                   63.1
4  Incheon  2020-01-20       1.2                   56.0

In [14]:
time = pd.read_csv('data2/TimeProvince.csv')

In [15]:
time.head()

         date province  confirmed
0  2020-01-20    Seoul          0
1  2020-01-20    Busan          0
2  2020-01-20    Daegu          0
3  2020-01-20  Incheon          1
4  2020-01-20  Gwangju          0

In [16]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128 entries, 0 to 2127
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   province               2128 non-null   object
 1   date                   2128 non-null   object
 2   avg_temp               2128 non-null   float64
 3   avg_relative_humidity  2128 non-null   float64
dtypes: float64(2), object(2)
memory usage: 66.6+ KB

In [17]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2261 entries, 0 to 2260
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2261 non-null   object
 1   province   2261 non-null   object
 2   confirmed  2261 non-null   int64
dtypes: int64(1), object(2)
memory usage: 53.1+ KB

In [18]:
weather['dp'] = weather['date'] + weather['province']

In [22]:
weather=weather.drop('dp', axis=1)

In [23]:
weather

              province        date  avg_temp  avg_relative_humidity
0                Seoul  2020-01-20       0.7                   46.8
1                Busan  2020-01-20       5.1                   45.6
2                Daegu  2020-01-20       4.6                   44.1
3              Gwangju  2020-01-20       4.0                   63.1
4              Incheon  2020-01-20       1.2                   56.0
...                ...         ...       ...                    ...
2123      Jeollabuk-do  2020-05-31      20.9                   61.8
2124      Jeollanam-do  2020-05-31      19.1                   84.1
2125  Gyeongsangbuk-do  2020-05-31      18.5                   77.4
2126  Gyeongsangnam-do  2020-05-31      19.3                   71.5
2127           Jeju-do  2020-05-31      19.7                   88.1

[2128 rows x 4 columns]

In [40]:
df=pd.merge(weather, time, how='inner', on=['date', 'province'])

In [41]:
df

              province        date  avg_temp  avg_relative_humidity  confirmed
0                Seoul  2020-01-20       0.7                   46.8          0
1                Busan  2020-01-20       5.1                   45.6          0
2                Daegu  2020-01-20       4.6                   44.1          0
3              Gwangju  2020-01-20       4.0                   63.1          0
4              Incheon  2020-01-20       1.2                   56.0          1
...                ...         ...       ...                    ...        ...
2123      Jeollabuk-do  2020-05-31      20.9                   61.8         21
2124      Jeollanam-do  2020-05-31      19.1                   84.1         19
2125  Gyeongsangbuk-do  2020-05-31      18.5                   77.4       1379
2126  Gyeongsangnam-do  2020-05-31      19.3                   71.5        123
2127           Jeju-do  2020-05-31      19.7                   88.1         15

[2128 rows x 5 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128 entries, 0 to 2127
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   province               2128 non-null   object
 1   date                   2128 non-null   object
 2   avg_temp               2128 non-null   float64
 3   avg_relative_humidity  2128 non-null   float64
 4   confirmed              2128 non-null   int64
dtypes: float64(2), int64(1), object(2)
memory usage: 99.8+ KB

In [29]:
df.isnull().sum()

province                 0
date                     0
avg_temp                 0
avg_relative_humidity    0
confirmed                0
dtype: int64

In [42]:
df

              province        date  avg_temp  avg_relative_humidity  confirmed
0                Seoul  2020-01-20       0.7                   46.8          0
1                Busan  2020-01-20       5.1                   45.6          0
2                Daegu  2020-01-20       4.6                   44.1          0
3              Gwangju  2020-01-20       4.0                   63.1          0
4              Incheon  2020-01-20       1.2                   56.0          1
...                ...         ...       ...                    ...        ...
2123      Jeollabuk-do  2020-05-31      20.9                   61.8         21
2124      Jeollanam-do  2020-05-31      19.1                   84.1         19
2125  Gyeongsangbuk-do  2020-05-31      18.5                   77.4       1379
2126  Gyeongsangnam-do  2020-05-31      19.3                   71.5        123
2127           Jeju-do  2020-05-31      19.7                   88.1         15

[2128 rows x 5 columns]

In [148]:
#x = df.iloc[:, :-1].values
#y = df.iloc[:, 3].values
#z = df.iloc[:, :].values

q = df.drop('date', axis=1)
z = q.iloc[:, :].values
a = pd.DataFrame(z)

In [58]:
le = LabelEncoder()
x[:,0] = le.fit_transform(x[:, 0])

In [59]:
x

array([[14, '2020-01-20', 0.7, 46.8],
       [0, '2020-01-20', 5.1, 45.6],
       [3, '2020-01-20', 4.6, 44.1],
       ...,
       [8, '2020-05-31', 18.5, 77.4],
       [9, '2020-05-31', 19.3, 71.5],
       [11, '2020-05-31', 19.7, 88.1]], dtype=object)

In [63]:
print(x)

[[14 '2020-01-20' 0.7 46.8]
 [0 '2020-01-20' 5.1 45.6]
 [3 '2020-01-20' 4.6 44.1]
 ...
 [8 '2020-05-31' 18.5 77.4]
 [9 '2020-05-31' 19.3 71.5]
 [11 '2020-05-31' 19.7 88.1]]

In [75]:
x

array([['Seoul', '2020-01-20', 0.7, 46.8],
       ['Busan', '2020-01-20', 5.1, 45.6],
       ['Daegu', '2020-01-20', 4.6, 44.1],
       ...,
       ['Gyeongsangbuk-do', '2020-05-31', 18.5, 77.4],
       ['Gyeongsangnam-do', '2020-05-31', 19.3, 71.5],
       ['Jeju-do', '2020-05-31', 19.7, 88.1]], dtype=object)

In [76]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(x)

OneHotEncoder(handle_unknown='ignore')

In [77]:
enc.categories_

[array(['Busan', 'Chungcheongbuk-do', 'Chungcheongnam-do', 'Daegu',
        'Daejeon', 'Gangwon-do', 'Gwangju', 'Gyeonggi-do',
        'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Incheon', 'Jeju-do',
        'Jeollabuk-do', 'Jeollanam-do', 'Seoul', 'Ulsan'], dtype=object),
 array(['2020-01-20', '2020-01-21', '2020-01-22', '2020-01-23',
        '2020-01-24', '2020-01-25', '2020-01-26', '2020-01-27',
        '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31',
        '2020-02-01', '2020-02-02', '2020-02-03', '2020-02-04',
        '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-08',
        '2020-02-09', '2020-02-10', '2020-02-11', '2020-02-12',
        '2020-02-13', '2020-02-14', '2020-02-15', '2020-02-16',
        '2020-02-17', '2020-02-18', '2020-02-19', '2020-02-20',
        '2020-02-21', '2020-02-22', '2020-02-23', '2020-02-24',
        '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
        '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
        '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
        '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
        '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
        '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
        '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
        '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
        '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
        '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
        '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
        '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
        '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
        '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
        '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
        '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
        '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
        '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
        '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
        '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
        '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
        '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
        '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
        '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
        '2020-05-31'], dtype=object),
 array([-8.3, -8.1, -7.2, -6.6, -6.4, -6.3, -6.2, -5.9, -5.8, -5.5, -5.4,
        -5.0, -4.8, -4.6, -4.2, -4.1, -3.7, -3.6, -3.4, -3.2, -3.1, -3.0,
        -2.6, -2.3, -2.2, -2.1, -2.0, -1.8, -1.7, -1.6, -1.5, -1.4, -1.3,
        -1.2, -1.1, -1.0, -0.9, -0.8, -0.7, -0.6, -0.5, -0.4, -0.3, -0.2,
        -0.1, 0.0, 0.1, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2,
        1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5,
        2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
        3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1,
        5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4,
        6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7,
        7.8, 7.9, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9, 9.0,
        9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9, 10.0, 10.1, 10.2,
        10.3, 10.4, 10.5, 10.6, 10.7, 10.8, 10.9, 11.0, 11.1, 11.2, 11.3,
        11.4, 11.5, 11.6, 11.7, 11.8, 11.9, 12.0, 12.1, 12.2, 12.3, 12.4,
        12.5, 12.6, 12.7, 12.8, 12.9, 13.0, 13.1, 13.2, 13.3, 13.4, 13.5,
        13.6, 13.7, 13.8, 13.9, 14.0, 14.1, 14.2, 14.3, 14.4, 14.5, 14.6,
        14.7, 14.8, 14.9, 15.0, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7,
        15.8, 15.9, 16.0, 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8,
        16.9, 17.0, 17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 17.7, 17.8, 17.9,
        18.0, 18.1, 18.2, 18.3, 18.4, 18.5, 18.6, 18.7, 18.8, 18.9, 19.0,
        19.1, 19.2, 19.3, 19.4, 19.5, 19.6, 19.7, 19.8, 19.9, 20.0, 20.1,
        20.2, 20.3, 20.4, 20.5, 20.6, 20.7, 20.8, 20.9, 21.0, 21.1, 21.2,
        21.3, 21.4, 21.5, 21.6, 21.7, 21.8, 21.9, 22.0, 22.1, 22.3, 22.4,
        22.5, 22.6, 22.7, 22.8, 23.0, 23.1, 23.9, 24.3, 24.5, 24.9, 26.3],
       dtype=object),
 array([17.9, 20.5, 20.6, 21.0, 22.4, 22.9, 23.4, 25.5, 25.8, 26.0, 26.3,
        26.5, 27.5, 28.5, 28.8, 29.0, 29.1, 29.3, 29.5, 29.8, 29.9, 30.3,
        30.5, 30.6, 30.8, 31.0, 31.1, 31.3, 31.4, 31.8, 31.9, 32.0, 32.4,
        32.5, 32.6, 32.8, 32.9, 33.0, 33.1, 33.5, 33.6, 33.8, 33.9, 34.0,
        34.1, 34.4, 34.5, 34.6, 34.8, 35.0, 35.1, 35.3, 35.4, 35.6, 35.9,
        36.0, 36.1, 36.4, 36.5, 36.6, 36.8, 36.9, 37.0, 37.1, 37.3, 37.4,
        37.5, 37.6, 37.8, 37.9, 38.0, 38.3, 38.4, 38.5, 38.6, 38.8, 39.0,
        39.1, 39.3, 39.4, 39.5, 39.6, 39.8, 39.9, 40.0, 40.1, 40.3, 40.4,
        40.5, 40.6, 40.8, 40.9, 41.0, 41.3, 41.4, 41.5, 41.6, 41.8, 41.9,
        42.0, 42.1, 42.3, 42.4, 42.5, 42.6, 42.8, 42.9, 43.0, 43.1, 43.3,
        43.4, 43.5, 43.6, 43.8, 43.9, 44.0, 44.1, 44.3, 44.4, 44.5, 44.6,
        44.8, 44.9, 45.0, 45.1, 45.3, 45.5, 45.6, 45.8, 45.9, 46.0, 46.1,
        46.3, 46.4, 46.5, 46.6, 46.8, 46.9, 47.0, 47.1, 47.3, 47.4, 47.5,
        47.6, 47.8, 47.9, 48.0, 48.1, 48.3, 48.4, 48.5, 48.6, 48.8, 48.9,
        49.0, 49.1, 49.3, 49.4, 49.5, 49.6, 49.8, 49.9, 50.0, 50.1, 50.3,
        50.4, 50.5, 50.6, 50.8, 50.9, 51.0, 51.1, 51.3, 51.4, 51.5, 51.6,
        51.8, 51.9, 52.0, 52.1, 52.3, 52.4, 52.5, 52.6, 52.8, 52.9, 53.0,
        53.1, 53.3, 53.4, 53.5, 53.6, 53.8, 53.9, 54.0, 54.1, 54.3, 54.4,
        54.5, 54.8, 54.9, 55.0, 55.1, 55.3, 55.4, 55.5, 55.6, 55.8, 55.9,
        56.0, 56.1, 56.3, 56.4, 56.5, 56.6, 56.8, 56.9, 57.0, 57.1, 57.3,
        57.4, 57.5, 57.6, 57.8, 57.9, 58.0, 58.1, 58.3, 58.4, 58.5, 58.6,
        58.8, 58.9, 59.0, 59.1, 59.3, 59.4, 59.5, 59.6, 59.8, 59.9, 60.0,
        60.1, 60.3, 60.4, 60.5, 60.6, 60.8, 60.9, 61.0, 61.1, 61.3, 61.4,
        61.5, 61.6, 61.8, 61.9, 62.0, 62.1, 62.3, 62.4, 62.5, 62.6, 62.8,
        62.9, 63.0, 63.1, 63.3, 63.4, 63.5, 63.6, 63.8, 63.9, 64.0, 64.1,
        64.3, 64.4, 64.5, 64.6, 64.8, 64.9, 65.0, 65.1, 65.3, 65.4, 65.5,
        65.6, 65.8, 65.9, 66.0, 66.1, 66.3, 66.4, 66.5, 66.6, 66.8, 66.9,
        67.0, 67.1, 67.3, 67.4, 67.5, 67.6, 67.8, 67.9, 68.0, 68.1, 68.3,
        68.4, 68.5, 68.6, 68.8, 68.9, 69.0, 69.1, 69.3, 69.4, 69.5, 69.6,
        69.8, 69.9, 70.0, 70.1, 70.3, 70.4, 70.5, 70.6, 70.8, 71.0, 71.1,
        71.3, 71.4, 71.5, 71.6, 71.8, 71.9, 72.0, 72.1, 72.3, 72.4, 72.5,
        72.6, 72.8, 72.9, 73.0, 73.1, 73.3, 73.4, 73.5, 73.6, 73.8, 73.9,
        74.0, 74.1, 74.3, 74.4, 74.5, 74.6, 74.8, 74.9, 75.0, 75.1, 75.3,
        75.4, 75.5, 75.6, 75.8, 75.9, 76.0, 76.1, 76.3, 76.4, 76.5, 76.6,
        76.8, 76.9, 77.0, 77.1, 77.3, 77.4, 77.5, 77.6, 77.8, 77.9, 78.0,
        78.1, 78.3, 78.4, 78.5, 78.6, 78.8, 78.9, 79.0, 79.1, 79.3, 79.4,
        79.5, 79.6, 79.8, 79.9, 80.0, 80.1, 80.3, 80.4, 80.5, 80.6, 80.8,
        80.9, 81.0, 81.1, 81.3, 81.4, 81.5, 81.6, 81.8, 81.9, 82.0, 82.1,
        82.3, 82.4, 82.5, 82.6, 82.8, 82.9, 83.1, 83.3, 83.4, 83.5, 83.6,
        83.8, 83.9, 84.0, 84.1, 84.3, 84.4, 84.5, 84.6, 84.8, 84.9, 85.0,
        85.1, 85.3, 85.4, 85.5, 85.6, 85.8, 86.0, 86.1, 86.3, 86.5, 86.6,
        86.8, 86.9, 87.0, 87.1, 87.3, 87.4, 87.5, 87.6, 87.9, 88.0, 88.1,
        88.3, 88.4, 88.5, 88.6, 88.8, 89.0, 89.1, 89.3, 89.4, 89.5, 89.6,
        89.8, 90.0, 90.1, 90.3, 90.4, 90.5, 90.8, 90.9, 91.0, 91.1, 91.3,
        91.4, 91.5, 91.8, 91.9, 92.0, 92.1, 92.3, 92.4, 92.5, 92.6, 92.8,
        92.9, 93.0, 93.1, 93.3, 93.4, 93.5, 93.6, 93.8, 93.9, 94.0, 94.1,
        94.3, 94.4, 94.5, 94.6, 94.9, 95.0, 95.1, 95.3, 95.4, 95.6, 96.0,
        96.1, 96.4, 96.5, 96.6, 96.9, 97.0, 97.1, 97.4, 97.5, 97.6, 97.8,
        97.9, 98.0, 98.4, 98.9, 99.9, 100.0], dtype=object)]

In [78]:
enc.transform(x).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [87]:
z

array([['Seoul', '2020-01-20', 0.7, 46.8, 0],
       ['Busan', '2020-01-20', 5.1, 45.6, 0],
       ['Daegu', '2020-01-20', 4.6, 44.1, 0],
       ...,
       ['Gyeongsangbuk-do', '2020-05-31', 18.5, 77.4, 1379],
       ['Gyeongsangnam-do', '2020-05-31', 19.3, 71.5, 123],
       ['Jeju-do', '2020-05-31', 19.7, 88.1, 15]], dtype=object)

In [88]:
a

                     0           1     2     3     4
0                Seoul  2020-01-20   0.7  46.8     0
1                Busan  2020-01-20   5.1  45.6     0
2                Daegu  2020-01-20   4.6  44.1     0
3              Gwangju  2020-01-20     4  63.1     0
4              Incheon  2020-01-20   1.2    56     1
...                ...         ...   ...   ...   ...
2123      Jeollabuk-do  2020-05-31  20.9  61.8    21
2124      Jeollanam-do  2020-05-31  19.1  84.1    19
2125  Gyeongsangbuk-do  2020-05-31  18.5  77.4  1379
2126  Gyeongsangnam-do  2020-05-31  19.3  71.5   123
2127           Jeju-do  2020-05-31  19.7  88.1    15

[2128 rows x 5 columns]

In [89]:
# z, a

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_x = LabelEncoder()
z[:, 0] = label_x.fit_transform(z[:, 0])

In [90]:
z

array([[14, '2020-01-20', 0.7, 46.8, 0],
       [0, '2020-01-20', 5.1, 45.6, 0],
       [3, '2020-01-20', 4.6, 44.1, 0],
       ...,
       [8, '2020-05-31', 18.5, 77.4, 1379],
       [9, '2020-05-31', 19.3, 71.5, 123],
       [11, '2020-05-31', 19.7, 88.1, 15]], dtype=object)

In [91]:
onehot = OneHotEncoder(categorical_feature=[0])
z = onehot.fit_transform(z).toarray()

TypeError: __init__() got an unexpected keyword argument 'categorical_feature'

In [122]:
transformer = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), ['province'])],remainder='passthrough')

In [127]:
q

              province  avg_temp  avg_relative_humidity  confirmed
0                Seoul       0.7                   46.8          0
1                Busan       5.1                   45.6          0
2                Daegu       4.6                   44.1          0
3              Gwangju       4.0                   63.1          0
4              Incheon       1.2                   56.0          1
...                ...       ...                    ...        ...
2123      Jeollabuk-do      20.9                   61.8         21
2124      Jeollanam-do      19.1                   84.1         19
2125  Gyeongsangbuk-do      18.5                   77.4       1379
2126  Gyeongsangnam-do      19.3                   71.5        123
2127           Jeju-do      19.7                   88.1         15

[2128 rows x 4 columns]

In [149]:
z

array([['Seoul', 0.7, 46.8, 0],
       ['Busan', 5.1, 45.6, 0],
       ['Daegu', 4.6, 44.1, 0],
       ...,
       ['Gyeongsangbuk-do', 18.5, 77.4, 1379],
       ['Gyeongsangnam-do', 19.3, 71.5, 123],
       ['Jeju-do', 19.7, 88.1, 15]], dtype=object)

In [150]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_x = LabelEncoder()
z[:, 0] = label_x.fit_transform(z[:, 0])

In [145]:
z

array([[14, 0.7, 46.8, 0],
       [0, 5.1, 45.6, 0],
       [3, 4.6, 44.1, 0],
       ...,
       [8, 18.5, 77.4, 1379],
       [9, 19.3, 71.5, 123],
       [11, 19.7, 88.1, 15]], dtype=object)

In [132]:
transformer = ColumnTransformer([('one_hot_encoder', OneHotEncoder(), [0])],remainder='passthrough')

In [140]:
z = transformer.fit_transform(z[:]).toarray()

In [141]:
z

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [164]:
a = z
a

<2128x19 sparse matrix of type '<class 'numpy.float64'>'
	with 8123 stored elements in Compressed Sparse Row format>

In [153]:
df=df.drop('date', axis=1)

In [154]:
df

              province  avg_temp  avg_relative_humidity  confirmed
0                Seoul       0.7                   46.8          0
1                Busan       5.1                   45.6          0
2                Daegu       4.6                   44.1          0
3              Gwangju       4.0                   63.1          0
4              Incheon       1.2                   56.0          1
...                ...       ...                    ...        ...
2123      Jeollabuk-do      20.9                   61.8         21
2124      Jeollanam-do      19.1                   84.1         19
2125  Gyeongsangbuk-do      18.5                   77.4       1379
2126  Gyeongsangnam-do      19.3                   71.5        123
2127           Jeju-do      19.7                   88.1         15

[2128 rows x 4 columns]

In [ ]:
category_onehot=OneHotEncoder(categories=[pro])

In [157]:
df2 = df

In [158]:
df2

              province  avg_temp  avg_relative_humidity  confirmed
0                Seoul       0.7                   46.8          0
1                Busan       5.1                   45.6          0
2                Daegu       4.6                   44.1          0
3              Gwangju       4.0                   63.1          0
4              Incheon       1.2                   56.0          1
...                ...       ...                    ...        ...
2123      Jeollabuk-do      20.9                   61.8         21
2124      Jeollanam-do      19.1                   84.1         19
2125  Gyeongsangbuk-do      18.5                   77.4       1379
2126  Gyeongsangnam-do      19.3                   71.5        123
2127           Jeju-do      19.7                   88.1         15

[2128 rows x 4 columns]

In [160]:
laberEncoder_X = LabelEncoder()
z[:,0] = laberEncoder_X.fit_transform(z[:,0])
transform = ColumnTransformer([("province", OneHotEncoder(), [0])], remainder="passthrough")
z = transform.fit_transform(z)
print (z)

  (0, 14)	1.0
  (0, 16)	0.7
  (0, 17)	46.8
  (1, 0)	1.0
  (1, 16)	5.1
  (1, 17)	45.6
  (2, 3)	1.0
  (2, 16)	4.6
  (2, 17)	44.1
  (3, 6)	1.0
  (3, 16)	4.0
  (3, 17)	63.1
  (4, 10)	1.0
  (4, 16)	1.2
  (4, 17)	56.0
  (4, 18)	1.0
  (5, 4)	1.0
  (5, 16)	3.4
  (5, 17)	57.3
  (6, 15)	1.0
  (6, 16)	4.3
  (6, 17)	48.5
  (7, 7)	1.0
  (7, 16)	1.2
  (7, 17)	68.5
  :	:
  (2121, 18)	60.0
  (2122, 2)	1.0
  (2122, 16)	19.9
  (2122, 17)	66.5
  (2122, 18)	146.0
  (2123, 12)	1.0
  (2123, 16)	20.9
  (2123, 17)	61.8
  (2123, 18)	21.0
  (2124, 13)	1.0
  (2124, 16)	19.1
  (2124, 17)	84.1
  (2124, 18)	19.0
  (2125, 8)	1.0
  (2125, 16)	18.5
  (2125, 17)	77.4
  (2125, 18)	1379.0
  (2126, 9)	1.0
  (2126, 16)	19.3
  (2126, 17)	71.5
  (2126, 18)	123.0
  (2127, 11)	1.0
  (2127, 16)	19.7
  (2127, 17)	88.1
  (2127, 18)	15.0

In [161]:
z

<2128x19 sparse matrix of type '<class 'numpy.float64'>'
	with 8123 stored elements in Compressed Sparse Row format>

In [162]:
c = z.toarray()

In [163]:
c

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [165]:
c[0]

array([ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  1. ,  0. ,  0.7, 46.8,  0. ])

In [166]:
z[0]

<1x19 sparse matrix of type '<class 'numpy.float64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [167]:
c

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [168]:
c[0]

array([ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  1. ,  0. ,  0.7, 46.8,  0. ])

In [169]:
from sklearn.preprocessing import StandardScaler

prepro = make_column_transformer(
    (StandardScaler(), ['avg_temp', 'avg_relative_humidity', 'confirmed'])
)

In [170]:
c

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [171]:
d = c

In [172]:
d

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [174]:
c

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [175]:
c[0]

array([ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  1. ,  0. ,  0.7, 46.8,  0. ])

In [179]:
import numpy as np
from sklearn.preprocessing import normalize

d = np.random.rand(1000)*10
norm1 =d / np.linalg.norm(d)
norm2 = normalize(d[:, np.newaxis], axis=0).ravel()
print(np.all(norm1 == norm2))

True

In [180]:
d

array([3.45073645, 1.32841846, 5.31686932, 3.65648132, 1.07196717,
       8.00942948, 0.76699394, 2.26804885, 2.11304804, 0.66738011,
       9.6602072 , 3.97083079, 9.85842534, 0.06819263, 5.8211754 ,
       7.81956333, 9.96361236, 8.283082  , 6.72472419, 4.61622284,
       3.94466505, 5.20364555, 7.03011568, 9.0271436 , 1.37315932,
       8.11727528, 4.36041636, 0.09292095, 8.94697502, 7.72696049,
       6.76428744, 2.22455838, 0.96308448, 4.58998257, 5.15564571,
       4.14033463, 5.02661837, 9.68805098, 4.94816488, 4.77507567,
       9.05222623, 9.86918526, 0.08327527, 8.47269461, 5.10140422,
       3.99213215, 4.94563214, 6.02924648, 4.29555917, 7.91399895,
       0.39738706, 6.82094407, 1.45001602, 0.98917784, 9.86252182,
       7.82836825, 1.12778814, 9.51359347, 5.26253696, 2.1652787 ,
       4.02275297, 6.02435845, 5.25123645, 2.57859112, 5.08591737,
       0.42997492, 0.48799109, 2.66000247, 2.07054803, 4.30887028,
       9.41991329, 9.78892809, 8.50026551, 3.26061108, 9.12621243,
       9.47541582, 1.8520112 , 8.51381912, 0.7777445 , 2.18646986,
       8.78664397, 7.51489318, 1.9818332 , 7.94874259, 0.16879147,
       7.54725455, 8.78359484, 8.55773307, 3.4503167 , 5.68735508,
       7.90948769, 5.48699694, 4.81898672, 2.19598544, 7.18973748,
       4.12525502, 2.79518463, 7.27556336, 7.67889531, 1.01103823,
       8.9261363 , 8.26516728, 8.28104245, 1.10982428, 7.55937365,
       3.44125862, 5.20012336, 7.38326251, 5.01160513, 6.16432537,
       9.85494772, 5.08529763, 1.32060662, 4.04670323, 7.30822935,
       8.31096377, 1.94521006, 3.86280521, 9.43154661, 2.08312062,
       8.65787701, 8.96789344, 0.12768128, 1.99371733, 5.37967923,
       8.24290072, 5.22357474, 2.62410915, 1.30546775, 6.41615288,
       5.16302103, 9.59638938, 5.77104957, 3.03279239, 3.41982385,
       3.70029918, 6.63211677, 8.09415371, 2.12535702, 3.78509494,
       8.09970185, 1.30145342, 7.78222637, 6.94275897, 9.08405253,
       1.70318388, 4.01345156, 5.93816098, 2.99535819, 0.73412858,
       2.51615571, 6.65332016, 2.18169217, 4.31051874, 8.65666499,
       8.56154369, 4.6210061 , 8.98683594, 2.68776245, 8.75541128,
       4.89356522, 3.6193939 , 2.45255312, 3.70499731, 5.66368543,
       1.32545488, 0.17673907, 1.88889692, 8.73233889, 1.93902237,
       6.88897851, 3.55889642, 7.84344561, 1.77467448, 2.35292099,
       7.49230958, 4.71099255, 3.92689973, 6.10027507, 3.55552486,
       4.78832234, 3.92542294, 8.72451504, 8.59146812, 2.53170617,
       4.44123311, 1.81898766, 1.30880429, 7.10462745, 0.32580938,
       8.65453374, 1.26799005, 2.56803072, 3.13539362, 6.97357048,
       8.78292998, 8.88821623, 3.36651195, 4.52981469, 8.69833132,
       2.33939775, 9.5786824 , 2.2545745 , 8.45354683, 6.78499804,
       2.07214559, 8.1844445 , 2.0244373 , 1.65582047, 7.10522553,
       0.86807226, 6.81534172, 6.60649725, 1.63840816, 0.24139156,
       2.24721511, 4.98884718, 0.49485395, 2.06430569, 2.02908085,
       3.33410732, 8.59767529, 4.35340589, 8.86781654, 1.89704431,
       5.94969788, 1.38233094, 9.20617192, 4.18248306, 7.45013649,
       7.71148145, 8.60392335, 9.82183195, 9.90875546, 0.46462539,
       0.52207261, 8.94081988, 5.45525436, 6.65018862, 8.53209296,
       1.32683071, 7.43982005, 7.70330082, 6.45800923, 6.03662005,
       7.32480381, 1.93739381, 4.14204347, 9.76836256, 8.37789947,
       9.22089279, 6.60954412, 9.58813403, 6.12852067, 9.75402111,
       4.62215088, 7.87492292, 3.31107848, 7.13912903, 8.48947231,
       1.01687864, 3.17733361, 2.62558528, 5.51920793, 0.11933142,
       3.54089364, 4.45843337, 7.89579814, 8.79495697, 3.50228342,
       2.80478065, 1.43355508, 2.79822451, 6.92412449, 0.75173466,
       3.76830445, 0.44554487, 0.06869857, 7.15635807, 6.43650552,
       3.02364168, 6.32328421, 8.80267204, 2.87154965, 9.63348203,
       8.44361982, 5.06974553, 4.40833838, 9.18978949, 9.34760857,
       6.77082164, 7.38663907, 1.17790676, 7.35890285, 8.69721199,
       5.65484404, 3.43876578, 8.31764586, 6.57680147, 2.79119197,
       0.91670694, 6.21123707, 4.33213334, 2.19682304, 6.74885588,
       8.50377512, 9.52652738, 7.36447368, 7.74186987, 2.61854518,
       6.67414173, 9.34017482, 1.94576045, 7.35198592, 2.28828218,
       8.46991824, 4.29201558, 9.01444705, 6.19747085, 4.60205942,
       6.57170972, 3.80385569, 4.40367306, 5.67893077, 6.807842  ,
       5.69910411, 6.72491129, 0.49524108, 2.44510703, 3.59477028,
       2.42001733, 3.68407461, 4.46691686, 3.70639511, 5.62452886,
       6.79558982, 5.27915934, 7.17696239, 7.08632765, 2.0280068 ,
       9.56522394, 1.1492383 , 1.9234434 , 8.45096225, 2.44696381,
       8.16858891, 6.34947872, 0.04087538, 5.55474362, 9.28801819,
       6.52860924, 5.17863754, 4.08654443, 1.71068063, 0.4157476 ,
       5.29812002, 7.28640031, 3.51310021, 9.25950986, 0.57608817,
       3.60292887, 2.13259409, 2.20756189, 4.11428132, 9.76110802,
       9.93834113, 3.43824438, 8.19115005, 3.94947331, 1.5996653 ,
       1.56962365, 9.82720358, 6.61260027, 0.38302629, 4.94071721,
       3.2370579 , 4.83279305, 4.74709918, 4.31472349, 8.31343294,
       9.29361524, 6.21733664, 4.16282943, 0.47578425, 0.47870144,
       8.22918873, 3.90829952, 0.28071017, 2.63227982, 8.54160943,
       1.51675876, 2.84345805, 9.62612234, 0.62502168, 4.72757956,
       9.61318087, 4.41849667, 6.80402593, 4.87518828, 1.92056987,
       1.49427109, 2.19058889, 5.40598648, 2.92873206, 9.34923381,
       9.20909902, 5.60365848, 4.13691267, 5.63596498, 1.123395  ,
       3.43027463, 2.8138505 , 0.01443643, 1.76462764, 7.26317389,
       6.52742747, 4.79072369, 9.23691432, 4.19842149, 6.60220403,
       4.3752848 , 9.74007795, 3.64850971, 5.23712831, 3.54415339,
       1.23914413, 2.07164418, 8.63498249, 3.43488516, 8.74978658,
       1.96366049, 5.7296867 , 9.13917769, 3.95735035, 9.23135143,
       7.06282378, 8.34376697, 8.41135848, 3.22873884, 2.8870301 ,
       8.19444241, 7.05211897, 8.87436628, 1.97315816, 2.26930102,
       8.53045485, 9.54482687, 1.46657031, 2.20976939, 2.4216058 ,
       8.37103838, 2.19650421, 6.68529948, 7.77122731, 3.16492045,
       1.05720372, 3.84883979, 5.35229974, 0.29374937, 4.49336982,
       7.86771997, 5.28248463, 0.54777023, 4.96955985, 1.74470825,
       5.29736167, 1.24563301, 0.15125489, 9.18564771, 3.28721309,
       6.24280189, 1.18209049, 4.87702388, 2.17893839, 7.65019665,
       7.12461296, 9.08962988, 8.16624168, 1.17436259, 8.88526072,
       3.15223472, 3.82645101, 0.36489126, 1.32179618, 9.83155384,
       5.22526149, 7.02370694, 2.48312582, 9.28005429, 9.05686223,
       9.62752264, 6.79751715, 1.22275021, 4.81610596, 0.40053323,
       4.06602463, 6.05674906, 7.76672575, 1.92915145, 3.30701027,
       1.88130172, 0.59212743, 4.05637833, 4.73393061, 9.82992297,
       7.71029362, 9.14825171, 5.47114523, 6.19343048, 3.01185716,
       4.64809416, 7.94434648, 7.99182558, 6.29109951, 1.50926888,
       5.08914689, 4.00344959, 1.10478954, 9.98986171, 2.56398176,
       1.35387095, 4.68500111, 9.5805632 , 0.22032117, 4.7398825 ,
       9.38201223, 5.19318988, 1.86924613, 4.51896171, 9.83482938,
       9.37126092, 9.25347657, 2.17502136, 9.79667546, 8.96673046,
       0.84560466, 9.14657389, 5.21141771, 8.28724739, 2.04495155,
       3.94841362, 4.00581667, 3.56842296, 4.16278932, 0.59089928,
       8.08620608, 8.11669086, 0.92707004, 4.41710663, 6.94751788,
       8.73334955, 7.95077014, 8.70125341, 0.51262679, 7.52255683,
       7.68141471, 0.54494963, 3.11951188, 3.96355418, 4.69004497,
       3.99440301, 3.40820052, 3.9752872 , 2.26777853, 9.53375368,
       0.58032497, 2.12129458, 0.9768893 , 1.01535874, 9.16840009,
       7.4860735 , 9.97214995, 2.93592825, 3.63211611, 8.95743653,
       9.62583064, 2.00258305, 4.62294715, 6.77129285, 3.74295104,
       7.85216831, 9.45938288, 2.4335555 , 7.56594182, 5.54107634,
       3.24000375, 7.21919493, 4.6414662 , 6.54497186, 9.41510598,
       2.59986024, 0.37172051, 0.49572677, 2.81545407, 9.81003713,
       2.12334051, 0.88441785, 4.39834795, 5.07512949, 8.07915187,
       2.11074718, 2.8854978 , 2.41984785, 4.0193872 , 1.44301994,
       4.31583581, 1.6964304 , 9.8452366 , 0.14054259, 2.4370451 ,
       5.234906  , 5.87515159, 2.92273465, 2.36770951, 8.7617358 ,
       5.98661949, 0.9176121 , 7.06265153, 9.05071675, 8.40919262,
       2.139202  , 8.48430525, 8.82604405, 4.5146043 , 8.69978051,
       2.44250083, 3.6369943 , 5.09345827, 6.35451383, 5.96841406,
       4.29895121, 8.84669452, 9.91915428, 8.50776613, 7.75909702,
       4.88798995, 2.67984965, 3.29903656, 1.07659346, 2.86536746,
       1.79796797, 9.29064739, 9.95953503, 6.40627378, 5.14842941,
       9.45710683, 5.35910533, 4.93259545, 0.5694413 , 5.08990125,
       0.9426143 , 0.54370882, 7.92764673, 0.0280254 , 2.70704885,
       9.2948158 , 8.97224214, 7.42991883, 5.05838033, 9.74099304,
       4.16123719, 6.84643311, 9.24409781, 4.87723607, 6.62552538,
       8.44528422, 3.92464704, 2.31831931, 4.04068187, 1.23540725,
       3.89747959, 3.10665858, 3.94853011, 3.43625874, 9.99558281,
       3.87486062, 1.71341376, 9.34684216, 3.78054795, 3.30042866,
       3.38435871, 9.50275816, 9.53462496, 1.69478944, 8.77251863,
       3.10809917, 4.5461933 , 6.63622117, 7.23758466, 3.62831195,
       2.94351753, 9.18750897, 6.92919035, 8.52387437, 3.36085125,
       9.81553301, 9.14848887, 6.50324285, 6.20594778, 0.31339043,
       3.73376891, 6.24631602, 0.0713191 , 8.06260735, 0.64636716,
       5.34738716, 5.78025865, 8.71174534, 7.69426315, 1.52779527,
       4.42363453, 1.45119851, 2.21168898, 4.61045349, 4.89193175,
       0.03792871, 1.03772014, 4.40505019, 7.82592215, 6.84251813,
       7.85434407, 1.69593632, 9.53846836, 2.32276083, 1.02093834,
       8.56216277, 9.31037018, 9.1988988 , 6.72399188, 4.14724242,
       3.74609806, 5.751373  , 0.2647349 , 8.95304622, 1.1252397 ,
       8.80893285, 6.88288916, 2.02792308, 9.64666701, 0.55390631,
       7.08428592, 6.70534347, 4.81986473, 3.91453242, 1.21554438,
       3.26706676, 5.73607889, 8.35954616, 8.3889837 , 2.12139288,
       3.05018545, 6.00827266, 8.11761731, 6.61271736, 2.45757634,
       5.01099589, 5.33263979, 0.91667983, 4.09406871, 0.29169372,
       5.79578943, 9.76256172, 5.94444357, 5.97869211, 4.53524176,
       1.45687986, 2.8036895 , 6.2092486 , 0.08731385, 6.10996755,
       3.68454304, 0.70606942, 5.66666797, 7.06320223, 2.98135982,
       3.07069437, 7.19083716, 1.96937731, 8.26924709, 7.03824331,
       9.00290528, 1.15852737, 0.43640466, 9.30717575, 4.10019369,
       6.27588868, 6.97270485, 9.8779194 , 6.61944124, 9.27522186,
       8.02734181, 8.25179887, 7.29072408, 6.48393064, 5.21289546,
       0.11794685, 2.90153676, 5.30387067, 9.74392743, 5.67413214,
       7.1715273 , 3.26884915, 8.57399498, 7.71312333, 1.95447613,
       9.24669441, 8.4562237 , 4.33180428, 4.56866786, 3.86922996,
       1.76094552, 4.17708929, 8.08133693, 4.59458063, 4.78298067,
       0.30512742, 7.96166825, 7.2661412 , 0.67908587, 2.62599237,
       7.11959887, 8.99515399, 0.32341372, 1.75522583, 4.5563017 ,
       4.4801059 , 6.93971477, 8.65872449, 8.71213241, 7.61817225,
       9.89895219, 1.55468249, 3.73568975, 9.71255525, 4.97402239,
       2.42006284, 8.85907674, 1.95929198, 9.05145856, 1.11950506,
       6.94876651, 9.63655343, 8.55812577, 6.2166222 , 2.39121191,
       8.69492071, 5.512842  , 7.84378182, 5.79312236, 3.23473631,
       0.6788417 , 7.91694137, 9.4648379 , 5.4723563 , 5.94692677,
       0.11013118, 2.97182813, 3.40158763, 3.02780688, 7.10603154,
       4.6321851 , 5.98354165, 2.01157785, 7.93872091, 9.33456746,
       5.10065147, 2.19836128, 3.60424145, 1.7497539 , 6.45785913,
       5.70132335, 5.63440213, 3.5991656 , 2.02569406, 2.53990261,
       0.17023086, 5.8646165 , 7.79321172, 9.07617393, 8.11365715,
       7.45156369, 6.85232797, 1.87390774, 1.44486362, 5.16704713,
       6.87913737, 9.27641062, 1.89824431, 0.49347022, 0.57523713,
       2.37279749, 8.07738974, 0.26043721, 7.72743149, 2.57799922,
       2.34597731, 3.74957688, 9.24295066, 4.31135676, 5.5237597 ,
       8.9578175 , 6.94960412, 6.11316367, 8.6697071 , 2.14908757,
       0.09688424, 4.18190363, 2.64576091, 4.53684696, 9.31748953,
       1.25986109, 1.43637908, 0.77452982, 1.51221156, 0.35936257,
       8.34370175, 5.42796056, 6.87257453, 3.52342227, 1.45733027,
       6.599154  , 4.96717084, 8.43190923, 5.94211191, 4.78041826,
       0.14410374, 3.29315617, 2.85182939, 2.89561599, 3.68098363,
       0.25608064, 1.1941548 , 7.75371646, 8.46063974, 7.47550379,
       2.66282229, 3.3805836 , 1.43183292, 8.82330557, 2.47113258,
       2.34386814, 1.84004932, 1.74168689, 7.3686486 , 0.14541988,
       5.12104212, 4.42307429, 6.01750107, 7.36525962, 6.35701417,
       8.53782229, 1.57573923, 4.36797197, 6.67031533, 8.90733527,
       2.68786565, 7.83267947, 9.49030677, 2.32844133, 7.80930615,
       8.96691785, 0.81236924, 3.57039375, 7.68749639, 5.06411416,
       6.919281  , 6.90261151, 4.09456753, 8.25619659, 7.75553479,
       0.89232438, 7.77575572, 1.39148114, 1.44255107, 1.05752845,
       2.8713996 , 4.30723063, 1.58157533, 2.50420077, 3.21780648,
       3.49337813, 0.5200553 , 3.15570486, 0.79362204, 2.28818604,
       5.74910798, 5.05490836, 8.13665068, 8.93681229, 1.75503048,
       9.80546593, 4.27061823, 9.36242098, 2.45756336, 3.4106745 ,
       7.71645334, 4.612336  , 2.0782589 , 1.73032286, 6.32508115])

In [181]:
len(d)

1000

In [182]:
c

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [183]:
d=c

In [184]:
d

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [185]:
d_normed = d/d.max(axis=0)

In [186]:
print(d_normed)

[[0.         0.         0.         ... 0.02661597 0.468      0.        ]
 [1.         0.         0.         ... 0.19391635 0.456      0.        ]
 [0.         0.         0.         ... 0.17490494 0.441      0.        ]
 ...
 [0.         0.         0.         ... 0.70342205 0.774      0.20034869]
 [0.         0.         0.         ... 0.7338403  0.715      0.01787011]
 [0.         0.         0.         ... 0.74904943 0.881      0.00217928]]

In [187]:
d_normed[0]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 1.        ,
       0.        , 0.02661597, 0.468     , 0.        ])

In [188]:
d_normed[2]

array([0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.17490494, 0.441     , 0.        ])

In [190]:
d_normed[978]

array([0.        , 0.        , 0.        , 1.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.57034221, 0.541     , 0.92169112])

In [191]:
df

              province  avg_temp  avg_relative_humidity  confirmed
0                Seoul       0.7                   46.8          0
1                Busan       5.1                   45.6          0
2                Daegu       4.6                   44.1          0
3              Gwangju       4.0                   63.1          0
4              Incheon       1.2                   56.0          1
...                ...       ...                    ...        ...
2123      Jeollabuk-do      20.9                   61.8         21
2124      Jeollanam-do      19.1                   84.1         19
2125  Gyeongsangbuk-do      18.5                   77.4       1379
2126  Gyeongsangnam-do      19.3                   71.5        123
2127           Jeju-do      19.7                   88.1         15

[2128 rows x 4 columns]

In [192]:
d

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [193]:
d[0]

array([ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        0. ,  0. ,  0. ,  1. ,  0. ,  0.7, 46.8,  0. ])

In [212]:
d[:, 16:]

array([[7.000e-01, 4.680e+01, 0.000e+00],
       [5.100e+00, 4.560e+01, 0.000e+00],
       [4.600e+00, 4.410e+01, 0.000e+00],
       ...,
       [1.850e+01, 7.740e+01, 1.379e+03],
       [1.930e+01, 7.150e+01, 1.230e+02],
       [1.970e+01, 8.810e+01, 1.500e+01]])

In [244]:
list=['Busan', 'Chungcheongbuk-do', 'Chungcheongnam-do', 'Daegu', 'Daejeon', 'Gangwon-do', 'Gwangju', 'Gyeonggi-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Incheon', 'Jeju-do', 'Jeollabuk-do', 'Jeollanam-do','Seoul','Ulsan', 'avg_temp', 'avg_relative_humidity', 'confirmed']
haha=pd.DataFrame(
    data=d[:, :],
    index=[i for i in range(d.shape[0])],
    columns=[i for i in list]
)

In [220]:
d

array([[0.000e+00, 0.000e+00, 0.000e+00, ..., 7.000e-01, 4.680e+01,
        0.000e+00],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 5.100e+00, 4.560e+01,
        0.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 4.600e+00, 4.410e+01,
        0.000e+00],
       ...,
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.850e+01, 7.740e+01,
        1.379e+03],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.930e+01, 7.150e+01,
        1.230e+02],
       [0.000e+00, 0.000e+00, 0.000e+00, ..., 1.970e+01, 8.810e+01,
        1.500e+01]])

In [222]:
wow

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,avg_temp,avg_relative_humidity,confirmed
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.7,46.8,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.1,45.6,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,44.1,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,63.1,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.2,56.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,20.9,61.8,21.0
2124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.1,84.1,19.0
2125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5,77.4,1379.0
2126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19.3,71.5,123.0
2127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,19.7,88.1,15.0

In [240]:
d[15]

array([ 0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,  0. ,
        1. ,  0. ,  0. ,  0. ,  0. ,  8.4, 50.3,  0. ])

In [227]:
df.head(16)

             province  avg_temp  avg_relative_humidity  confirmed
0               Seoul       0.7                   46.8          0
1               Busan       5.1                   45.6          0
2               Daegu       4.6                   44.1          0
3             Gwangju       4.0                   63.1          0
4             Incheon       1.2                   56.0          1
5             Daejeon       3.4                   57.3          0
6               Ulsan       4.3                   48.5          0
7         Gyeonggi-do       1.2                   68.5          0
8          Gangwon-do       3.7                   38.8          0
9   Chungcheongbuk-do       0.9                   63.3          0
10  Chungcheongnam-do       1.7                   62.0          0
11       Jeollabuk-do       3.5                   61.1          0
12       Jeollanam-do       4.9                   55.8          0
13   Gyeongsangbuk-do       3.6                   48.6          0
14   Gyeongsangnam-do       4.4                   42.6          0
15            Jeju-do       8.4                   50.3          0

In [245]:
haha

,Busan,Chungcheongbuk-do,Chungcheongnam-do,Daegu,Daejeon,Gangwon-do,Gwangju,Gyeonggi-do,Gyeongsangbuk-do,Gyeongsangnam-do,Incheon,Jeju-do,Jeollabuk-do,Jeollanam-do,Seoul,Ulsan,avg_temp,avg_relative_humidity,confirmed
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.7,46.8,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.1,45.6,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.6,44.1,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,63.1,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.2,56.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,20.9,61.8,21.0
2124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,19.1,84.1,19.0
2125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.5,77.4,1379.0
2126,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,19.3,71.5,123.0
2127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,19.7,88.1,15.0

In [243]:
haha.to_csv('data2/good.csv')

In [249]:
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

cols=['Busan', 'Chungcheongbuk-do', 'Chungcheongnam-do', 'Daegu', 'Daejeon', 'Gangwon-do', 'Gwangju', 'Gyeonggi-do', 'Gyeongsangbuk-do', 'Gyeongsangnam-do', 'Incheon', 'Jeju-do', 'Jeollabuk-do', 'Jeollanam-do','Seoul','Ulsan', 'avg_temp', 'avg_relative_humidity']
X = haha[cols]
Y = haha.confirmed

x_train, x_valid, y_train, y_valid = train_test_split(X, Y)

my_model = XGBRegressor()
my_model.fit(x_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=16, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [250]:
from sklearn.metrics import mean_absolute_error

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

mean absolute error: 108.60036792080933

In [251]:
my_model = XGBRegressor(n_estimator=500)
my_model.fit(x_train, y_train)

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

[02:55:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


mean absolute error: 108.60036792080933

In [253]:
my_model = XGBRegressor(n_estimator=500)
my_model.fit(x_train, y_train, early_stopping_rounds=5,
            eval_set=[(x_valid, y_valid)],
            verbose=False)

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

[02:58:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


mean absolute error: 118.02724716537877

In [254]:
my_model = XGBRegressor(n_estimator=500, learning_rate=0.05)
my_model.fit(x_train, y_train, early_stopping_rounds=5,
            eval_set=[(x_valid, y_valid)],
            verbose=False)

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

[02:59:17] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


mean absolute error: 127.87021814163467

In [255]:
my_model = XGBRegressor(n_estimator=500, learning_rate=0.05, n_jobs=4)
my_model.fit(x_train, y_train, early_stopping_rounds=5,
            eval_set=[(x_valid, y_valid)],
            verbose=False)

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

[02:59:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


mean absolute error: 127.87021814163467

In [257]:
my_model = XGBRegressor(n_estimator=100, learning_rate=0.05)
my_model.fit(x_train, y_train, early_stopping_rounds=5,
            eval_set=[(x_valid, y_valid)],
            verbose=False)

prediction = my_model.predict(x_valid)
print("mean absolute error: " + str(mean_absolute_error(prediction, y_valid)))

[03:05:21] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:541:
Parameters: { n_estimator } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


mean absolute error: 127.87021814163467

In [258]:
my_model

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.05, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimator=100, n_estimators=100, n_jobs=16, num_parallel_tree=1,
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)